{% extends "base.html" %}
{% block content %}
<head>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<html>
<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <div class="form-group">
    {{ form.email.label }} {{ form.email() }}
    </div>
    <div class="form-group">
    {{ form.password.label }} {{ form.password() }}
    {{ form.submit() }}
    </div>
</form>
</html>
{% endblock %}
